.likeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.likeButtonContainer > button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.likeButtonContainer > button:hover {
  animation: likeButtonHoverAnimation 0.2s ease-out forwards;
}

@keyframes likeButtonHoverAnimation {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.likeButtonContainer > p {
  margin: 0 0 0 5px;
  font-size: 1.4rem;
}
