.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  min-height: 100%;
  overflow-y: scroll;
  padding: 10px;
  width: calc(100% - 20px);
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(2px);
  border: none;
  flex-wrap: wrap;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 0px 20px;
  padding: 5px;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 430px;
  min-width: 280px;
}

.historyEditContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 3px solid;
  background-color: #000000;
  padding: 15px;
  margin: 5px 5px;
}

.historyEditContainer > p {
  margin: 5px 0;
}

.editorContainer {
  background-color: #121212;
  border-radius: 20px;
  border: 3px solid;
  padding: 20px;
  max-width: 300px;
  width: 33vw;
  min-width: 200px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.previewPixel {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #242424;
  margin: 20px;
}

.hexInput {
  height: 40px;
  width: 5rem;
  border-radius: 5px;
  border: 1px solid #848484;
  margin: 10px;
  padding: 10px;
  background: #121212;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.hexPicker {
  width: 100%;
}
