.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  border-radius: 10px;
  background-color: #030303;
  padding: 10px 10px 10px 35px;
  border: none;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 480px) {
  .searchBar input {
    width: 200px;
  }
}

@media (max-width: 380px) {
  .searchBar input {
    width: 120px;
  }
}


.icon {
  position: absolute;
  left: 20px;
}