.mainStrip {
  max-width: 550px;
  width: 100%;
  border-left: 1px solid #242424;
  border-right: 1px solid #242424;
  padding: 20px;
  position: relative;
}

.container {
  margin-top: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 65px);
}
